<footer class="w3-container w3-center w3-theme" style="padding:32px">

    <div class="w3-row w3-opacity-min">

      <div class="w3-col m6">
        <span class="w3-hide-small w3-hide-medium">
          Real Analysis <i class="fa-regular fa-copyright"></i>
          <span>
            <script>document.write(new Date().getFullYear());</script>
          </span>
          by J. C. Ponce Campuzano
        </span>
        <span class="w3-hide-large">
          Real Analysis <i class="fa-regular fa-copyright"></i>
          <span>
            <script>document.write(new Date().getFullYear());</script>
          </span>
          <br />by J. C. Ponce Campuzano
        </span>
      </div>

      <div class="w3-col m6 license">

        <a style="text-decoration: none;" rel="license"
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank">
          <i class="fa-brands fa-creative-commons"></i>
          <i class="fa-brands fa-creative-commons-by"></i>
          <i class="fa-brands fa-creative-commons-nc"></i>
          <i class="fa-brands fa-creative-commons-sa"></i>
        </a>
      </div>

    </div>

  </footer>