<p class="slide-menu-item">
	KEY CODES:<br /><br />

	Press 'B' to toggle chalkboard.<br />
	Press 'C' to toggle notes.<br />
	Press 'X' to cycle colors forward.<br />
	Press 'Y' to cycle colors backward.<br />
	Press 'BACKSPACE' to reset all chalkboard.<br />
	Press 'DEL' to clear chalkboard.<br /><br/>

	Press '?' for other keyboard shortcuts.
	<br /><br />
</p>

<p class="slide-menu-item">
	PDF EXPORT:<br /><br />

	To download as a PDF file (with no
	fragments) from the menu of your browser select
	'Print' and then select the option 
	'Save as PDF'.<br /><br />

	If you prefer a PDF file of the slides with fragments,
	just open this <a href="?print-pdf" target="_blank">LINK</a>
	in Google Chrome and use the print dialog
	(this may not work for other browsers).
	<br />
</p>

<p class="slide-menu-item">
	CREDITS:<br /><br />

	Design, Images &amp; Applets <br />
	<a href="https://smp.uq.edu.au/profile/2155/juan-ponce-campuzano" target="_blank">
		Juan Carlos Ponce Campuzano</a><br />
</p>

<p class="slide-menu-item">
	SOFTWARE:<br /><br />

	Made with <a href="https://revealjs.com/" target="_blank">reveal.js</a><br /><br />

	Plugins:<br /><br />

	Chalkboard by
	<a href="https://github.com/rajgoel/reveal.js-plugins" target="_blank">Asvin Goel</a><br />

	Menu by
	<a href="https://github.com/denehyg/reveal.js-menu" target="_blank">Greg Denehy</a><br />
</p>