/* Set my favourite font */
body {
    font-family: Georgia, Times, "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, Times, "Times New Roman", serif; }

p {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.w3-code{
  border-left:4px solid #6666cc;
}

/* Style for side bar  */
.w3-bar-block .w3-bar-item {
  padding: 16px;
  font-weight: bold;
}

#chapterBar{
    background-color: #6666cc;
    color: #fff
}


/*
body {
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: #e6e6e6; }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Georgia, Times, "Times New Roman", serif; }
  
  p {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #333333; }
  
  ul {
    color: #333333; }
  
  ol {
    color: #333333; }
  
  dl {
    font-family: Georgia, Times, "Times New Roman", serif; }
  
  dd {
    margin-left: 15px;
    line-height: 1; }

*/