body {
  width: 100%;
  height: 100%;
  background-color:black;
  margin: 0;
  overflow: hidden;
}

canvas {
  outline: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 8px;
  width: 100%;
  color: grey;
  font-size: 0.85em;
}

#cvs {
  background-color: #69D2E7;
  background-image: linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
  background-image: -o-linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
  background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0, 0, 128)), color-stop(0.5, rgb(9, 148, 136)), color-stop(0.75, rgb(158, 182, 255)));
}