@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

a {
    color: rgb(200, 200, 200);
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  
  
  .hud {
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: rgba(10, 10, 10, 0.7);
    color: #eaeaea;
    font-size: 0.99em;
    padding: 5px;
  
    border: 0px solid #000;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px #000;
  }