body {
	margin:0px;
}

root { 
    display: block;
}

#fone {
    background: #fff;
    margin-left:auto;
    margin-right:auto;
    width:770px;
    position:relative;
}

#c_button {
    background-color: #d11717;
    border: 2px solid #eee;
    height: 38px;
    width:  147px;
    overflow: hidden;
    display: block;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    border-color: #aa1313;
    border-width: 3px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-image: -webkit-linear-gradient(top, #c23737, #ad2b2b);
    background-image: -moz-linear-gradient(top, #c23737, #ad2b2b);
    background-image: -o-linear-gradient(top, #c23737, #ad2b2b);
    background-image: -ms-linear-gradient(top, #c23737, #ad2b2b);
    background-image: linear-gradient(top, #c23737, #ad2b2b);

    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;

    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}


#c_button:hover {
    background-color: #ff3434;
    background-image: -webkit-linear-gradient(top, #e25757, #ad2b2b);
    background-image: -moz-linear-gradient(top, #e25757, #ad2b2b);
    background-image: -o-linear-gradient(top, #e25757, #ad2b2b);
    background-image: -ms-linear-gradient(top, #e25757, #ad2b2b);
    background-image: linear-gradient(top, #e25757, #ad2b2b);
}

#s_button {
    background-color: #bb1be7;
    border: 2px solid;
    height: 38px;
    width:  147px;
    overflow: hidden;
    display: block;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    border-color: #bb1be7;
    border-width: 3px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*background-image: -webkit-linear-gradient(top, #c23737, #ad2b2b);
    background-image: -moz-linear-gradient(top, #c23737, #ad2b2b);
    background-image: -o-linear-gradient(top, #c23737, #ad2b2b);
    background-image: -ms-linear-gradient(top, #c23737, #ad2b2b);
    background-image: linear-gradient(top, #c23737, #ad2b2b);*/

    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    cursor: pointer;
}

#s_button:hover {
    /*background-image: -webkit-linear-gradient(top, #21f957, #ad2b2b);
    background-image: -moz-linear-gradient(top, #e25757, #ad2b2b);
    background-image: -o-linear-gradient(top, #e25757, #ad2b2b);
    background-image: -ms-linear-gradient(top, #e25757, #ad2b2b);
    background-image: linear-gradient(top, #e25757, #ad2b2b);*/
}

.label{
    margin-top: 10px;
}

#notepad {
    margin-top: 0px;
    width: 525px;
    height: 525px;
    border-style: solid;
    border-color: #d7d7d7;
    border-width: 3px;
    float: left;
    
    background-image: -webkit-linear-gradient(top, #fafbfc, #f2f3f4);
    background-image: -moz-linear-gradient(top, #fafbfc, #f2f3f4);
    background-image: -o-linear-gradient(top, #fafbfc, #f2f3f4);
    background-image: -ms-linear-gradient(top, #fafbfc, #f2f3f4);
    background-image: linear-gradient(top, #fafbfc, #f2f3f4);

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#left_panel {
    width: 220px;
    height: 525px;
    background-color: #fff;
    border-style: solid;
    border-color: #d7d7d7;
    border-width: 3px;
    border-right: none;
    margin-bottom: 0px;
    float: left;
    font-family: Helvetica Neue, Arial, sans-serif;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#settings{
    padding: 0 15px;
}

.input{
   width: 30px;
    margin-top: 10px;   
    border: 0;
    color: #960; 
    font-weight :bold;
    font-size:14px;
    font-family:Arial;
}

#trueProb_checkbox {
    float: left;
}

#trueProb_label {
    margin-left: 25px;
}

#nickels {
	position:absolute;
	top:15px;
	left:250px;
}

.nickel {
	padding-right:5px;
}