html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow: hidden;
  background-color: black;
}

canvas {
  width: 100vw;
  height: 100vh;
}

div.sticky {
  position: fixed;
  left: 15px;
  width: 50%;
  top: 25px;
  font-size: 1.2vw;
  font-family: Georgia;
} 

/* unvisited link */
a:link {
  color: #b3d9ff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #99ccff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #8de0f2;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #00cc99;
}