/* Klavika Web Basic Regular */
@font-face {
	font-family: 'Klavika-Web';
	src: url('KlavikaWebBasicRegular/KlavikaWebBasicRegular.eot');
	src: url('KlavikaWebBasicRegular/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'),
         url('KlavikaWebBasicRegular/KlavikaWebBasicRegular.woff2') format('woff2'),
         url('KlavikaWebBasicRegular/KlavikaWebBasicRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* Klavika Web Basic Regular Italic */
@font-face {
	font-family: 'Klavika-Web';
	src: url('KlavikaWebBasicRegularItalic/KlavikaWebBasicRegularItalic.eot');
	src: url('KlavikaWebBasicRegularItalic/KlavikaWebBasicRegularItalic.eot?#iefix') format('embedded-opentype'),
         url('KlavikaWebBasicRegularItalic/KlavikaWebBasicRegularItalic.woff2') format('woff2'),
         url('KlavikaWebBasicRegularItalic/KlavikaWebBasicRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

/* Klavika Web Basic Medium */
@font-face {
	font-family: 'Klavika-Web';
	src: url('KlavikaWebBasicMedium/KlavikaWebBasicMedium.eot');
	src: url('KlavikaWebBasicMedium/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'),
         url('KlavikaWebBasicMedium/KlavikaWebBasicMedium.woff2') format('woff2'),
         url('KlavikaWebBasicMedium/KlavikaWebBasicMedium.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* Klavika Web Basic Medium Italic */
@font-face {
	font-family: 'Klavika-Web';
	src: url('KlavikaWebBasicMediumItalic/KlavikaWebBasicMediumItalic.eot');
	src: url('KlavikaWebBasicMediumItalic/KlavikaWebBasicMediumItalic.eot?#iefix') format('embedded-opentype'),
         url('KlavikaWebBasicMediumItalic/KlavikaWebBasicMediumItalic.woff2') format('woff2'),
         url('KlavikaWebBasicMediumItalic/KlavikaWebBasicMediumItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
