<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Template for Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Template for Books">
  <meta name="keywords" content="keywords">
  <meta name="author" content="Juan Carlos Ponce Campuzano">
  <meta name="language" content="en-US">

  <link rel="icon" type="image/png" href="imgs/infinity32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="imgs/infinity16.png" sizes="16x16">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="css/w3-theme-blue.css">
  <link rel="stylesheet" href="css/style.css">
  
  <!-- MathCell applets + MathJax -->
  <script src="js/math.js"></script>
  <script src="js/mathcell.js"></script>
  <script src="js/mathjax.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script" async></script>

</head>

<body>

  <!-- Sidebar -->
  <div w3-include-html="toc.html"></div>

  <!-- !PAGE CONTENT! -->

  <div class="w3-main w3-large" style="margin-left:250px;">

    <!-- Main text starts here -->
    
    <!-- Bar on top shows/hides after scrolling -->
    <div id="myTop" class="w3-container w3-top w3-theme-bar w3-large">
      <div id="myTextBar">
        <p><i class="fa-solid fa-bars w3-button w3-hide-large w3-xlarge" onclick="w3_open()"></i>
          <span id="myTitle" class="w3-hide">Chapter 3: Color scheme...</span>

          <button style="position: sticky; left:90%; font-size: 14px;padding: 5px;"
            onclick="document.getElementById('myModal').style.display='block'"
            class="w3-button w3-theme w3-round-large w3-hover-shadow w3-hide-small w3-hover-light-gray ">
            <i class="fa-regular fa-heart"></i> Donate
          </button>

          <span onclick="myDarkMode()"
            style="cursor: pointer; position: sticky; left:87%; font-size: 14px;padding: 5px;"
            class="w3-theme w3-round-large w3-hover-light-gray">
            <i class="fa-solid fa-circle-half-stroke"></i></span>
        </p>
      </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-theme" style="padding:64px 32px">
      <div class="head-3 w3-xxxlarge">Color scheme and applets</div>
    </header>

    <!-- Sections -->
    <div class="w3-container" style="padding:32px">
    <div style="color: #ffffff00;"id="ch-3-sec-1">Css</div>
      <div class="head-3 head-3-level2">Now let's see other CSS personalized features</div>

      <p>Checking other features:</p>

      <p>Code: w3-theme-l5</p>

      <p class="w3-theme-l5">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset \mathcal{P}(X)$.
        Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-theme-l4</p>

      <p class="w3-theme-l4">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset \mathcal{P}(X)$.
        Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-theme-l1</p>

      <p class="w3-theme-l1">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset \mathcal{P}(X)$.
        Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-theme-d1</p>

      <p class="w3-theme-d1">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset \mathcal{P}(X)$.
        Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-theme-d5</p>

      <p class="w3-theme-d5">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset \mathcal{P}(X)$.
        Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-theme-light</p>

      <p class="w3-theme-light">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset
        \mathcal{P}(X)$. Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-theme-dark</p>

      <p class="w3-theme-dark">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset \mathcal{P}(X)$.
        Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-theme-action</p>

      <p class="w3-theme-action">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset
        \mathcal{P}(X)$. Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-theme</p>

      <p class="w3-theme">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset \mathcal{P}(X)$.
        Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-text-theme</p>

      <p class="w3-text-theme">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset \mathcal{P}(X)$.
        Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-border-theme</p>

      <p class="w3-border-theme">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset
        \mathcal{P}(X)$. Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-hover-theme</p>

      <p class="w3-hover-theme">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset
        \mathcal{P}(X)$. Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-hover-text-theme</p>

      <p class="w3-hover-text-theme">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset
        \mathcal{P}(X)$. Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple:</p>

      <p>Code: w3-hover-border-theme</p>

      <p class="w3-hover-border-theme">&nbsp; <strong>Teorema:</strong> Sean $X$ conjunto y $\mathcal{B}\subset
        \mathcal{P}(X)$. Existe una
        topolog&#xED;a $\tau_{\mathcal{B}}$ para la cual $\mathcal{B}$ es base s&#xED;, y s&#xF3;lo se cumple: <span class=" w3-tooltip w3-hover-theme" style="cursor:pointer"><strong>Axiom 3</strong>
          <span id="mytooltip" class="w3-text">For $x,y\in \R,$ $x+y=y+x.$ Everytime you hover on this word, it will
            show you some text.</span></p>


      <h3>Tooltip mode: Example</h3>

      <p>Use mouse to hover on "Axiom 3" to show tool tip.</p>

      <p>
        Using
        <span class="w3-tooltip w3-hover-theme" style="cursor:pointer"><strong>Axiom 3</strong>
          <span id="mytooltip" class="w3-text">For $x,y\in \R,$ $x+y=y+x.$ Everytime you hover on this word, it will
            show you some text.</span>
        </span> we can consider the following statements to be true, or maybe not.
      </p>

      <hr>

      <div style="color: #ffffff00;"id="ch-3-sec-2">These are examples with iframes</div>
      <div class="head-3 head-3-level2" id="ch-3-sec-2">These are examples with iframes</div>

      <p>This is an example of interactive applet made with MathBox:</p>

      <iframe scrolling="no" style="border:0px;" src="https://topologia-general.github.io/sketches/hopf/" width="100%"
        height="450px"></iframe>

      <br />
      <hr>

      <p>This is an example from GeoGebra:</p>

      <iframe scrolling="no" title="Slope field explorer" allowfullscreen=""
        src="https://www.geogebra.org/material/iframe/id/dabkhkqr/width/712/height/404/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/false/ctl/false"
        width="100%" height="404px" style="border:0px;"> </iframe>
      

      <br />
      <hr>

      <p>This is an example with MathCell:</p>

      <div class="mathcell" style="width:100%;height:500px;">
        <script>

          var parent = document.currentScript.parentNode;

          var id = generateId();
          parent.id = id;

          MathCell(id, []);

          parent.update = function (id) {

            function z(x, y) { return [x, y, x * x / (x * x + y * y)]; }

            var s = parametric(z, [-1, 1, 300], [-1, 1, 300],
              { colormap: (x, y) => colorFromHue((x * x / (x * x + y * y)) * 0.7) });

            var data = [s];

            var config = {
              type: 'threejs',
              viewpoint: [1, 0.8, 0.9],
              axesLabels: true,
              aspectRatio: [1, 1, 1],
              xMin: -1,
              xMax: 1,
              yMin: -1,
              yMax: 1,
              zMin: -0.5,
              zMax: 1.5,
            };

            evaluate(id, data, config);
          }

          parent.update(id);


        </script>
      </div>

      <br />
      <hr>

      <p>This is an example of interactive applet made with p5js:</p>

      <iframe style="border:0px;" src="https://www.dynamicmath.xyz/sketches/tesseract/" width="100%" height="450px"
        scrolling="no"></iframe>

      <br />
      <hr>

      <div class="w3-container w3-padding-16 w3-card" style="background-color:#eee">
        <h3 class="w3-center">iFrame Template</h3>
        <div class="w3-content" style="max-width:800px">
          <iframe style="border:0px;" src="https://www.dynamicmath.xyz/sketches/tesseract/" width="100%" height="450px"
            scrolling="no"></iframe>
          <br>
          <div class="w3-row">
            <div class="w3-col m6">
              <a href="https://www.dynamicmath.xyz/sketches/tesseract/" target="_blank"
                class="w3-button w3-padding-large w3-dark-grey" style="width:98.5%">Fullscreen</a>
            </div>
            <div class="w3-col m6">
              <a href="w3css_templates.asp" target="_blank" class="w3-button w3-padding-large w3-dark-grey"
                style="width:98.5%">More
                Templates &raquo;</a>
            </div>
          </div>
          <hr />
          <div class="w3-row">
            <div class="w3-col m12">
              <a href="https://www.dynamicmath.xyz/sketches/tesseract/" target="_blank"
                class="w3-button w3-padding-large w3-dark-grey" style="width:100%">Fullscreen</a>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div style="color: #ffffff00;"id="ch-3-sec-3">Using code</div>
      <div class="head-3 head-3-level2">Using code</div>

      <p>The folowing are examples with code snippets</p>

      <div class="w3-panel w3-padding-large w3-card-4 w3-light-grey">
        <h1 class="w3-jumbo">CSS</h1>
        <p class="w3-xlarge">The Language for Styling Web Pages</p>
        <a class="w3-button w3-theme w3-hover-white" href="#">LEARN CSS</a>
        <a class="w3-button w3-theme w3-hover-white" href="#">CSS REFERENCE</a>
        <p class="w3-large">
        <p>
        <div class="w3-code cssHigh notranslate">
          body {<br>
          &nbsp;&nbsp;&nbsp; background-color: #d0e4fe;<br>}<br>h1 {<br>
          &nbsp;&nbsp;&nbsp; color: orange;<br>
          &nbsp;&nbsp;&nbsp; text-align: center;<br>}<br>p {<br>
          &nbsp;&nbsp;&nbsp; font-family: &quot;Times New Roman&quot;;<br>
          &nbsp;&nbsp;&nbsp; font-size: 20px;<br>}
        </div>
        <a class="w3-button w3-theme w3-hover-white" href="/css/tryit.asp?filename=trycss_default" target="_blank">Try
          it Yourself</a>
      </div>

      <div class="w3-panel w3-padding-large w3-card-4 w3-light-grey">
        <h1 class="w3-jumbo">JS</h1>
        <p class="w3-xlarge">The Language for Interaction in Web pages</p>
        <a class="w3-button w3-theme w3-hover-white" href="#">LEARN JS</a>
        <a class="w3-button w3-theme w3-hover-white" href="#">JS REFERENCE</a>
        <p class="w3-large">
        <p>
        <div class="w3-code jsHigh notranslate">
          let x = 0;<br />
          function add(x, y){<br />
          &nbsp;&nbsp;&nbsp;return x + y;<br />
          }
        </div>
        <a class="w3-button w3-theme w3-hover-white" href="/css/tryit.asp?filename=trycss_default" target="_blank">Try
          it Yourself</a>
      </div>

      <hr>
      <h2>W3.CSS Web Site Templates</h2>

      <p>We have created some responsive W3CSS templates for you to use.</p>
      <p>You are free to modify, save, share, use or do whatever you want with them:</p>


      <div class="w3-panel w3-light-grey w3-padding-16 w3-card">
        <h3 class="w3-center">Band Template</h3>
        <div class="w3-content" style="max-width:800px">
          <a href="tryw3css_templates_band.htm" target="_blank" title="Band Demo"><img
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgsFZ33_5TIReirHCQmXsDKeS59JD6FuOjKhz-fTgDT1aGfVvoY_QsQ8C-m91Wxs-eII_6z5dliu6BZXV3FkhOt-R0cuhwhUNTtsSdGiDVyRODJJXp0bQkhsG7NrjfSrt40-xfIwnTfQlj-LloLkSPu0-GACy4ADLj39mVuYA0pmVrmfJbJoCJ8-cr8yj-u/s4400/trees-recursion-randomness.jpg"
              style="width:98%;margin:20px 0" alt="Band Template"></a><br>
          <div class="w3-row">
            <div class="w3-col m6">
              <a href="tryw3css_templates_band.htm" target="_blank" class="w3-button w3-padding-large w3-dark-grey"
                style="width:98.5%">Demo</a>
            </div>
            <div class="w3-col m6">
              <a href="w3css_templates.asp" class="w3-button w3-padding-large w3-dark-grey" style="width:98.5%">More
                Templates &raquo;</a>
            </div>
          </div>
        </div>
      </div>


    </div>

    <button onclick="topFunction()" id="toTop" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
    
    <!-- Buttons to navigate -->
    <div class="w3-container w3-center w3-padding-large">
      <a href="chapter-02.html"><button class="w3-left w3-button w3-dark-grey w3-round-xlarge w3-hover-shadow ">&#10094;
          Previous</button></a>

      <a href="#"><button class="w3-right w3-button w3-dark-grey w3-round-xlarge w3-hover-shadow ">Next
          &#10095;</button></a>
    </div>

    <!-- Main text ends -->

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span><br />
          <h3>Hello! 👋</h3>
        </div>
        <div class="modal-body">
          <div w3-include-html="support.html"></div>
        </div>
        <div class="modal-footer">
          <p>Thank you! 🙏 I highly appreciate your support! 🤗</p>
        </div>
      </div>

    </div>
    <!-- The Modal ends -->

    <br />

    <div w3-include-html="footer.html"></div>

  </div>

  <!-- !PAGE CONTENT ENDS! -->

  <!-- General scripts -->
  <script src="js/w3codecolor.js"></script>
  <script>w3CodeColor(); // Provide color format for code</script>
  <script src="js/scripts.js"></script>
  <script> includeHTML(); // Import html info file</script>

</body>

</html>