<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Template for Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Template for Books">
  <meta name="keywords" content="keywords">
  <meta name="author" content="Juan Carlos Ponce Campuzano">
  <meta name="language" content="en-US">

  <link rel="icon" type="image/png" href="imgs/infinity32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="imgs/infinity16.png" sizes="16x16">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="css/w3-theme-blue.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- MathCell applets + MathJax -->
  <script src="js/math.js"></script>
  <script src="js/mathcell.js"></script>
  <script src="js/mathjax.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script" async></script>

</head>

<body>

  <!-- Sidebar -->


  <!-- !PAGE CONTENT! -->

  <div class="w3-main w3-large">

    <!-- Main text starts here -->


    <!-- Sections -->
    <div class="w3-container" style="padding:32px 32px;">

      <div class="w3-display-container" style="height: 100vh;">


        <div class="w3-padding w3-display-middle">

          <h1 class="w3-hide-small w3-hide-medium " style="font-size:55px; width: 14em;"><b>Ordinary Differencial
              Equations</b></h1>

          <h1 class="w3-hide-large" style="font-size:35px"><b>Ordinary Differencial Equations</b></h1>

          <div class="w3-section w3-bottombar">
            <p></p>
          </div>

          <h4 class="w3-hide-small w3-hide-medium">Juan Carlos Ponce Campuzano</h4>

          <h4 class="w3-hide-large" style="font-size:16px">Juan Carlos <br /> Ponce Campuzano</h4>



        </div>

      </div>

      


      <div style="width: 70%;margin-left: 10%;margin-right: 10%;">

        <hr>


        <iframe src="https://www.dynamicmath.xyz/math2001/sketches/flow-field"
          style="width: 100%; height: 250px; border: 0;" noscrolling></iframe>

        <h2><strong>Introduction</strong></h2>




        <p>This is an example of a list using W3.CSS</p>

        <ul class="w3-leftbar w3-theme-border" style="list-style:none">
          <li>Smaller and faster than other CSS frameworks.</li>
          <li>Easier to learn, and easier to use than other CSS frameworks.</li>
          <li>Uses standard CSS only (No jQuery or JavaScript library).</li>
          <li>Speeds up mobile HTML apps.</li>
          <li>Provides CSS equality for all devices. PC, laptop, tablet, and mobile:</li>
        </ul>

        <hr />

        <h2><strong>Table of Contents</strong></h2>

        <ul>
          <li><a href="chapter-01.html">Chapter 1</a></li>
          <li><a href="chapter-02.html">Chapter 2</a></li>
          <li><a href="chapter-03.html">Chapter 3</a></li>
        </ul>



        <hr />


      </div>


    </div>

    <button onclick="topFunction()" id="toTop" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>

    <!-- Buttons to navigate -->
    <div class="w3-container w3-center w3-padding-large">


      <a href="chapter-01.html"><button class="w3-right w3-button w3-dark-grey w3-round-xlarge w3-hover-shadow ">Next
          &#10095;</button></a>
    </div>

    <!-- Main text ends -->

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span><br />
          <h3>Hello! 👋</h3>
        </div>
        <div class="modal-body">
          <div w3-include-html="support.html"></div>
        </div>
        <div class="modal-footer">
          <p>Thank you! 🙏 I highly appreciate your support! 🤗</p>
        </div>
      </div>

    </div>
    <!-- The Modal ends -->

    <br />

    <div w3-include-html="footer.html"></div>

  </div>

  <!-- !PAGE CONTENT ENDS! -->

  <!-- General scripts -->
  <script src="js/w3codecolor.js"></script>
  <script>w3CodeColor(); // Provide color format for code</script>
  <script src="js/scripts.js"></script>
  <script> includeHTML(); // Import html info file</script>

</body>

</html>