<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>  Real Analysis
</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="An introduction to Real Analysis" />
  <meta name="keywords" content="real, analysis, mathematics" />

  <link rel="icon" type="image/png" href="imgs/infinity32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="imgs/infinity16.png" sizes="16x16">

  <!--
    https://www.everywheremarketer.com/blog/ultimate-guide-to-social-meta-tags-open-graph-and-twitter-cards
  -->
  <!--Facebook-->
  <meta property="og:title" content="Real Analysis" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="An introduction to Real Analysis" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Real Analysis">

  <!--Twitter/X-->
  <meta name="twitter:title" content="Real Analysis" />
  <meta name="twitter:site" content="https://intro-real-analysis.github.io/" />
  <meta name="twitter:description" content="An introduction to Real Analysis" />
  <meta name="twitter:type" content="website" />
  <meta name="twitter:creator" content="@jcponcemath" />

  <link rel="icon" type="image/png" href="content/imgs/infinity32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="content/imgs/infinity16.png" sizes="16x16">

  <link rel="stylesheet" href="content/css/style.css">


  <!-- MathCell applets + MathJax -->
  <script src="content/js/math.js"></script>
  <script src="content/js/mathcell.js"></script>
  <script src="content/js/mathjax.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script" async></script>

</head>

<body data-type="book" id="top">

  <!-- Main DIV Starts here -->
  <div class="container">
    <section data-type="chapter" id="index">

    <!-- Starts main content -->

    <!-- !PAGE CONTENT! -->

    <div class="w3-main w3-large">

        <!-- Main text starts here -->


        <!-- Sections -->
        <div class="w3-container" style="padding:32px 32px;">

            <div class="w3-display-container" style="height: 100vh;">

                <div class="w3-padding w3-display-middle">
                    <div class="w3-hide-large w3-hide-medium w3-hide-small"><h1>Real Analysis</h1></div>
                    <h1 class="w3-hide-small w3-hide-medium " style="font-size:55px; width: 14em;"><b>Real Analysis</b></h1>

                    <h1 class="w3-hide-large" style="font-size:35px"><b>Real Analysis</b></h1>

                    <div class="w3-section w3-bottombar w3-border-theme">
                        <p></p>
                    </div>

                    <h4 class="w3-hide-small w3-hide-medium">Juan Carlos Ponce Campuzano</h4>

                    <h4 class="w3-hide-large" style="font-size:16px">Juan Carlos <br> Ponce Campuzano</h4>



                </div>

            </div>




            <div style="max-width: 1400px;margin-left: 10%;margin-right: 10%;">

                <hr>



                <h2><strong>Introduction</strong></h2>


                <p>
                    Welcome to the fascinating world of real analysis,
                    where math leaps off the page through interactive
                    visuals. In
                    this book, we break free from the ordinary, offering
                    an immersive exploration of real analysis
                    principles with
                    engaging visualizations.
                </p>
                <p>
    
                    Real analysis isn't just math; it's a key to unlocking
                    the structure of the mathematical universe.
                    Thanks to
                    technology, we're bringing abstract ideas to life with
                    interactive tools, creating a tangible learning
                    experience.
    
                </p>
                <p>
                    As you journey through this book, discover a mix of theory
                    and interactive tools designed for a deep
                    understanding of real analysis. From limits to sequences,
                    each chapter unfolds with visualizations,
                    turning abstract concepts into an interactive landscape.
                </p>
                <p>
                    Whether you're a first-time explorer or a seasoned math
                    traveler, our approach empowers you to grasp complex
                    ideas intuitively. Visualizations here aren't just aids;
                    they're windows into the elegance that defines real analysis.
                </p>
                <p>
                    Join me in this enlightening adventure, where math concepts
                    come alive, bridging the gap between theory
                    and intuition.
                    Let's navigate through the visual landscapes of
                    real analysis, turning abstract ideas into
                    tangible insights and fostering a profound appreciation for the
                    beauty of mathematics.
                </p>
    
    
                <blockquote>
                    It is by logic that we prove, but by intuition that we discover.
                    <cite>— Henri Poincaré</cite>
                </blockquote>

                <iframe src="https://www.dynamicmath.xyz/sketches/shaders/infinite-space-bw/" style="width: 100%; height: 250px; border: 0;" noscrolling=""></iframe>
                

                <hr>

                <h2><strong>Table of Contents</strong></h2>

                <ul>
                    <li><a href="chapter-01.html">Chapter 1</a></li>
                    <li><a href="chapter-02.html">Chapter 2</a></li>
                    <li><a href="chapter-03.html">Chapter 3</a></li>
                </ul>

                <hr>

                <p class="callout">
                    <strong>Note!</strong> This project is still under construction 🏗️.
            
                    It exists thanks to the support of my patreons: <br>
                    <strong>Edward Huff, Jacob Shulman, Abei, pmben, Sophia Wood (Fractal Kitty),
                    Adam Parrott, Newnome Beauton, mirror, Doug Kuhlmann, 
                    Neil, Miles Casado, Dennis Watson, bleh</strong>.
            
                    <br>
                    If you find this project worthwhile, please consider becoming a member in
                    <a href="https://www.patreon.com/bePatron?u=10515025"><strong>Patreon</strong></a>.
                    ♾️ Thanks!
            
            
                </p>
                
            
                <hr>
            
                <h2 id="table-of-contents"><strong>Credits</strong></h2>
            
                <p>This project is based on the following projects:</p>
            
                <ul>
                    <li>
                        <a href="https://github.com/vincentdoerig/latex-css" target="_blank">LaTeX.CSS</a> by Vincent Dörig
                    </li>
                    <li>
                        <a href="https://github.com/davidrzs/latexcss" target="_blank">LatexCSS</a> by David Zollikofer
                    </li>
                    <li>
                        <a href="https://complex-analysis.com/" target="_blank">Complex Analysis</a> by Juan Carlos Ponce Campuzano
                    </li>
                </ul>
                <p>
                    The site was built thanks to the <a href="https://github.com/magicbookproject" target="_blank">Magic Book
                        project</a>.
                </p>


                <hr>


            </div>


        </div>

        <!-- Ends main content -->

</div></section>
  </div>
  <!-- Main DIV Ends here -->

  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span><br />
      <h3>Hello! 👋</h3>
    </div>
    <div class="modal-body">
      <p>
        This interactive book is <strong>free for everybody</strong>,
        as I believe that everyone should have access to high-quality learning
        resources to explore and learn mathematics.
        That's why many users choose to contribute to my efforts.
        If you believe in what I do and want to help me on my journey,
        you can do so now with the links below:
      </p>

      <div class="button-container">
        <button id="modal-link">
          <a href="https://www.patreon.com/jcponce"><i class="fa-brands fa-patreon"></i>
            <strong>Patreon</strong></a>
        </button>
        <button id="modal-link">
          <a target="_blank"
            href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=WTMTR7D8RYZ26&item_name=Your+support+will+help+me+to+improve+and+keep+up+to+date+the+applets+of+this+book.+Sincerely+appreciate+it%21&currency_code=AUD&source=url">
            <strong><i class="fa-brands fa-paypal"></i> PayPal</strong>
          </a>
        </button>
        <button id="modal-link">
          <a target="_blank" href="https://jcponcemath.secure-decoration.com/">
            <strong>Get a <i class="fa-solid fa-shirt"></i></strong>
          </a>
        </button>
      </div>


      <p>
        Your contributions help me to maintain this site
        and, crucially, <strong>ensure it remains freely accessible</strong>
        to anyone eager to explore this captivating field of mathematics
        <strong>—without any distracting ads</strong>.
      </p>

      <p>
        You can't contribute this time, no worries! Maybe you just want to
        <i class="fa-solid fa-envelope"></i> <a href="mailto:jcponcemath@gmail.com"><strong> Send a
            comment</strong></a>
      </p>
      <br />
    </div>
    <div class="modal-footer">
      <p>Thank you! 🙏 I highly appreciate your support! 🤗</p>
    </div>
  </div>

</div>
  <!-- Button to Top -->
  <button onclick="topFunction()" id="toTop" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>

  <!-- Navigation -->
   
<!-- Buttons to navigate -->
<div class="w3-container w3-center w3-padding-large"  style="margin-left:250px;">

    <a href="content/sequences.html"><button
            class="w3-right w3-button w3-dark-grey w3-round-xlarge w3-hover-shadow ">Next &#10095;</button></a>
</div>
  <br/>

  <div>
<footer class="w3-container w3-center w3-theme" style="padding:32px">

  <div class="w3-row w3-opacity-min">

    <div class="w3-col m6">
      <span class="w3-hide-small w3-hide-medium">
        Real Analysis <i class="fa-regular fa-copyright"></i>
        <span>
          <script>document.write(new Date().getFullYear());</script>
        </span>
        by J. C. Ponce Campuzano
      </span>
      <span class="w3-hide-large">
        Real Analysis <i class="fa-regular fa-copyright"></i>
        <span>
          <script>document.write(new Date().getFullYear());</script>
        </span>
        <br />by J. C. Ponce Campuzano
      </span>
    </div>

    <div class="w3-col m6 license">

      <a style="text-decoration: none;" rel="license"
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank">
        <i class="fa-brands fa-creative-commons"></i>
        <i class="fa-brands fa-creative-commons-by"></i>
        <i class="fa-brands fa-creative-commons-nc"></i>
        <i class="fa-brands fa-creative-commons-sa"></i>
      </a>
    </div>

  </div>

</footer>  </div>
  

  <!-- General scripts -->
  <script src="content/js/w3codecolor.js"></script>
  <script>w3CodeColor(); // Provide color format for code</script>
  <script src="content/js/scripts.js"></script>
  <script> includeHTML(); // Import html info file</script>

</body>

</html>