html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 8px;
	width: 100%;
	color: rgb(191,191,191);
	font-size: 0.95em;
}

a {
	color: rgb(226,226,226);
	text-decoration: none;
}

a:hover {
	color: rgb(255,255,255);
}

canvas {
	display: block;
	background-color: #69D2E7;
	background-image: linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
	background-image: -o-linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(0, 0, 128) 0%, rgb(9, 148, 136) 50%, rgb(158, 182, 255) 75%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0, 0, 128)), color-stop(0.5, rgb(9, 148, 136)), color-stop(0.75, rgb(158, 182, 255)));
}