html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.bottom-banner {
  position: fixed;
  left: 50%;
  bottom: calc(30px + env(safe-area-inset-bottom));
  /* iOS safe area friendly */
  transform: translateX(-50%);
  z-index: 9999;

  /* look */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial;
  font-size: 1.5rem;
  color: #f1f1f1;
  font-weight: 350;
  text-align: center;
  padding: .5rem 1rem;
  background: rgba(0, 0, 0, .4);
  border-radius: .5rem;
  line-height: 1.8rem;

  /* disappear after 20s (instant switch) */
  animation: hideAfter 20s steps(1, end) forwards;
}

@keyframes hideAfter {
  to {
    opacity: 0;
    visibility: hidden;
  }
}