.centerframe {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.mylftText {
  text-align: left;
  margin-left: 0.1em;
}

/*I need the next part to create a list with lower roman numeral*/
ol.r {
  counter-reset: list;
}

ol.r>li {
  list-style: none;
}

ol.r>li:before {
  content: "("counter(list, lower-roman) ") ";
  counter-increment: list;
}
/*/*This part was for version reveal.js 3.9*/
.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}
*/