.controls {
  margin: 0 auto;
  line-height: 50px;
}

.controls button {
  background: rgb(128, 128, 128);
  border: 0;
  color: #fff;
  
  width: 80px;
  height: 60px;
  line-height: 40px;
  font-size: 50px;
  padding-bottom: 8px;
  padding-bottom: 15px;
  
  cursor: pointer;
  
  display: inline-block;
  vertical-align: middle;

  font-family: inherit;
}

.controls button:hover {
  background: rgb(89, 166, 225);
}

.controls button:active {
  background: rgb(89, 166, 225);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, .5);
}

.controls button:active, .controls button:focus {
  outline: 0;
}
