body {
  color: rgb(51, 51, 51);
}

body {
  background: #eee;
}

.slides {
  background: #fff;
}

strong, h1, h2, h3, .text-strong {
  color: #000;
}

.text-brand {
  color: rgb(50, 84, 123);
}

.text-muted {
  color: rgb(144, 144, 144);
}

.text-brand.text-muted, .text-brand .text-muted {
  color: #789;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-size: 42px;
  font-family: 'klavika-web',"Klavika Web Basic",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-style: italic;
  text-align: inherit;
}

h1 {
  font-size: 64px;
}

.text-giant {
  font-size: 96px;
}

.text-smaller {
  font-size: 36px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-normal {
  font-weight: normal;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 1px;
}

h6 {
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 1px;
}


.text-outline, .text-outline-fill {
  text-shadow:
     4px  0px 0px rgb(255, 255, 255),
    -4px  0px 0px rgb(255, 255, 255),
     0px  4px 0px rgb(255, 255, 255),
     0px -4px 0px rgb(255, 255, 255),

    -3px -2px 0px rgb(255, 255, 255),
    -3px  2px 0px rgb(255, 255, 255),
     3px  2px 0px rgb(255, 255, 255),
     3px -2px 0px rgb(255, 255, 255),

    -2px -3px 0px rgb(255, 255, 255),
    -2px  3px 0px rgb(255, 255, 255),
     2px  3px 0px rgb(255, 255, 255),
     2px -3px 0px rgb(255, 255, 255),

    -1px -2px 1px rgb(255, 255, 255),
    -2px -1px 1px rgb(255, 255, 255),
    -1px  2px 1px rgb(255, 255, 255),
    -2px  1px 1px rgb(255, 255, 255),
     1px  2px 1px rgb(255, 255, 255),
     2px  1px 1px rgb(255, 255, 255),
     1px -2px 1px rgb(255, 255, 255),
     2px -1px 1px rgb(255, 255, 255);
}
.text-outline-fill, .text-outline-fill * {
  color: #fff !important;
}

.text-background {
  background: rgba(255, 255, 255, .5);
}

.text-background-heavy {
  background: rgba(255, 255, 255, .85);
}

.text-pad {
  padding: 0 10px;
}

.text-normal {
  font-weight: normal;
}

.text-regular {
  font-style: normal;
}



/* math coloring */
.purple {
  color: #B940A5;
}
.green {
  color: #25A035;
}
.blue {
  color: #3080F0;
}
.red {
  color: #C02050;
}
.orangered {
  color: rgb(192,48,0);
}
.surfacered {
  color: #df5000;
}
.teal {
  color: #50a5c0;
}
.white {
  color: #fff;
}
.cyan {
  color: #30A0B0;
}
.gold {
  color: #db8101;
}
.royal {
  color: #5528A0;
}
.grey, .gray {
  color: #a9a9a9;
}
.slate {
  color: #5070A0;
}
.orange {
  color: #DC6200;
}
.black {
  color: #000000;
}

pre {
  margin: 0;
}
code {
  font-size: 90%;
}