/* Based on the w3schools sample code. */

/* Style the tab */
div.codetab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.codetab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

/* Put the download button on the right. */
div.codetab button.codetabdownload {
    float: right;
    visibility: hidden;
}

/* Change background color of buttons on hover */
div.codetab button:hover:enabled {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.codetab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.codetabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.codetabcontent a {
	display: none;
}

