.centerframe {
  margin: auto;
  width: 100%;
  padding: 10px;
}

/* iframe similar to mathcell */

.fourier {
  width: 5in;
  margin: .01in auto .01in auto;
  border: 1.5px solid black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: .01in .2in 0.001in .5in;
  line-height: 0.5;
}

/* Class to align text to the left */

.left-txt {
  text-align: left;
  margin-left: 0.1em;
}

/* Classes to change size of text */

.size-40 {
  font-size: 40%;
}

.size-45 {
  font-size: 45%;
}

.size-50 {
  font-size: 50%;
}

.size-55 {
  font-size: 55%;
}

.size-60 {
  font-size: 60%;
}

.size-65 {
  font-size: 65%;
}

.size-70 {
  font-size: 70%;
}

.size-75 {
  font-size: 75%;
}

.size-80 {
  font-size: 80%;
}

.size-85 {
  font-size: 85%;
}

.size-90 {
  font-size: 90%;
}

/* Class for proof on table */
.proof-table {
  text-align: left;
  margin-left: 0.1em;
  font-weight: normal;
  font-size: 65%
}


/* I need the next part to create a list with lower roman numeral*/
ol.r {
  counter-reset: list;
  line-height: 130%;
  list-style-position: outside;
  margin-left: 0.2em;
  width: 95%;
}

ol.r>li {
  list-style: none;
  margin-top: 9px;
}

ol.r>li:before {
  content: "("counter(list, lower-roman) ") ";
  counter-increment: list;
}

/* Modify pre-defined values of reveal.js for headers */
.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal h3 {
  text-transform: none;
  font-size: 90%;
}

.reveal h4 {
  text-transform: none;
  font-size: 85%;
}

.reveal h5 {
  text-transform: none;
  font-size: 80%;
}

.reveal h6 {
  text-transform: none;
}



/* Format for table of contents */
.toc {
  height: 15px;
  vertical-align: top;
}



/*
tr {
  height: 15px;
  vertical-align: top;
}
*/

.toch {
  text-align: center;
}


/* Format for subtitle */

.sbt {
  font-size: 60%;
  font-weight: bold;
  margin-top:-15px;
}

#sbt {
  font-size: 60%;
  font-weight: bold;
  margin-top:-15px;
}


h7 {
  font-size: 60%;
  font-weight: bold;
}

/* I need this for arrays of equations */
#eqarray td,
#eqarray th {
  border: none;
  padding: 10px;
} 

/* This is for slides with two colums content */
#coltable {
  text-align: left;
  margin-left: 0.1em;
}

/* For textbox */
#theorem {
  border: 3px solid black;
  padding: 15px;
  margin: 20px;
}
/* For textbox */
#theorem-blue {
  background: #cce6ff;
  padding: 15px;
  margin: 20px;
}

/* I need this for table with data */
#data td,
#data th {
  border: 1px solid;
  padding: 10px;
} 

/* For red text highlighted */
#rr {
  color:rgb(222, 8, 8);
}
/* For blue text highlighted */
#bb {
  color:rgb(5, 48, 191);
}

/* For text with blue background */
#blue-box{
  background: #cce6ff;
  padding:10px;
  text-align: left;
}
/* For text with blue background */
#blue-box-big{
  background: #cce6ff;
  padding:35px;
  text-align: left;
}