@font-face {
  font-family: 'GT-Maru';
  src: url('fonts/GT-Maru-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Maru';
  src: url('fonts/GT-Maru-Bold.woff2') format('woff2');
  font-weight: bold;
}

:root {
  --doors: #E68714;
  --buttons: #7A1FDD;
  --bars: #2991FD;
  --red: #f16164;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #E2E1E1;
  font-family: 'GT-Maru', sans-serif;
}

.hidden {
  visibility: hidden;
}

main {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

button {
  all: unset;
  height: 40px;
  padding: 0 25px;
  color: white;
  background-color: var(--buttons);
  border-radius: 2rem;
  cursor: pointer;
  user-select: none;
}

button:hover {
  opacity: 0.8;
}

p {
  font-size: 1.8rem;
  margin: 1rem 0;
}

#doors {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.door-container {
  width: 8rem;
  height: 12rem;
  position: relative;
}

.door {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--doors);
  border: 0 solid black;
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  z-index: 42;
  font-size: 3rem;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

/* .door::after {
	content: "";
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	background-color: var(--red);
	border-radius: 50%;
} */

.door-container.revealed > .door {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-85deg);
  cursor: default;
}

.door-container.picked > .door {
  border-width: 5px;
}

.door-container.picked > .content::after {
  content: '\e97f';
  font-family: 'fontisto';
  font-size: 1.4rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  color: crimson;
}

.door-container.picked.won > .content::after {
  color: forestgreen;
}

.door-container.small {
  width: 4rem;
  height: 6rem;
}

.door-container.small > .door {
  font-size: 1.5rem;
}

.door-container.small > .content {
  font-size: 2rem;
}

#instruction {
  margin: 2rem 0;
  min-height: 120px;
}

#instruction > p {
  font-weight: bold;
  text-align: center;
}

#instruction > .choices {
  text-align: center;
}

#instruction > .choices > button:last-child {
  margin-left: 1rem;
}

#stats {
  width: 90%;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#stats p {
  font-size: 1.2rem;
  margin: 0.25rem 0;
}

#stats .bar {
  width: 0;
  height: 2rem;
  background-color: var(--bars);
  position: relative;
}

#stats .bar > .win-rate {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(120%, -50%);
}

#controls {
  display: none !important;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  text-align: right;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

#controls h3 {
  margin: 0;
  font-size: 1.4rem;
}

#controls > select {
  display: block;
  margin: 0.5rem 0;
}

#controls > #autorun {
}

#controls > #autorun::before {
  content: '\e9e4';
  display: inline-block;
  font-family: 'fontisto';
  margin-right: 0.5rem;
  width: 1rem;
}

#controls > #autorun.on::before {
  content: '\e9e2';
}

#controls > #reset::before{
  content: '↺';
  display: inline-block;
  font-family: 'fontisto';
  margin-right: 0.5rem;
  width: 0.5rem;
}

#coding-train {
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: 24rem;
}

#animated-goat{
  position: fixed;
  bottom: 2em;
  left: 0;
  width: 100%;
  text-align: center; /* optional: centers the picture */
}

input[type=range] {
  width: 100%;
  margin: 9px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #4a71a9;
  border: 0.2px solid #010101;
  border-radius: 3.3px;
  width: 100%;
  height: 7px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -9.2px;
  width: 25px;
  height: 25px;
  background: #9f9f9f;
  border: 3px solid #2a2a2a;
  border-radius: 26px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #577eb5;
}
input[type=range]::-moz-range-track {
  background: #4a71a9;
  border: 0.2px solid #010101;
  border-radius: 3.3px;
  width: 100%;
  height: 7px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #9f9f9f;
  border: 3px solid #2a2a2a;
  border-radius: 26px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9px 0;
  color: transparent;
  width: 100%;
  height: 7px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #426597;
  border: 0.2px solid #010101;
  border-radius: 6.6px;
}
input[type=range]::-ms-fill-upper {
  background: #4a71a9;
  border: 0.2px solid #010101;
  border-radius: 6.6px;
}
input[type=range]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #9f9f9f;
  border: 3px solid #2a2a2a;
  border-radius: 26px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #4a71a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #577eb5;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
