/*http://danielstern.ca/range.css/?ref=css-tricks#/*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 15.85px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(173, 172, 169, 0.89);
    border-radius: 1.3px;
    border: 0.2px solid #010100;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 2.1px solid #000000;
    height: 43px;
    width: 43px;
    border-radius: 50px;
    background: #a1a0a1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16.05px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(185, 185, 182, 0.89);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 11.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(173, 172, 169, 0.89);
    border-radius: 1.3px;
    border: 0.2px solid #010100;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 2.1px solid #000000;
    height: 43px;
    width: 43px;
    border-radius: 50px;
    background: #a1a0a1;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 11.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(161, 159, 156, 0.89);
    border: 0.2px solid #010100;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: rgba(173, 172, 169, 0.89);
    border: 0.2px solid #010100;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 2.1px solid #000000;
    height: 43px;
    width: 43px;
    border-radius: 50px;
    background: #a1a0a1;
    cursor: pointer;
    height: 11.3px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(173, 172, 169, 0.89);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(185, 185, 182, 0.89);
}
