/*http://danielstern.ca/range.css/?ref=css-tricks#/*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.1px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #c1c2c4;
    border-radius: 8.6px;
    border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.4px 1.4px 5.8px #000000, 0px 0px 1.4px #0d0d0d;
    border: 1.5px solid #000000;
    height: 33px;
    width: 33px;
    border-radius: 50px;
    background: #d4d5d6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cecfd0;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #c1c2c4;
    border-radius: 8.6px;
    border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1.4px 1.4px 5.8px #000000, 0px 0px 1.4px #0d0d0d;
    border: 1.5px solid #000000;
    height: 33px;
    width: 33px;
    border-radius: 50px;
    background: #d4d5d6;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 6.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #b4b5b8;
    border: 0px solid #010101;
    border-radius: 17.2px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #c1c2c4;
    border: 0px solid #010101;
    border-radius: 17.2px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1.4px 1.4px 5.8px #000000, 0px 0px 1.4px #0d0d0d;
    border: 1.5px solid #000000;
    height: 33px;
    width: 33px;
    border-radius: 50px;
    background: #d4d5d6;
    cursor: pointer;
    height: 6.8px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #c1c2c4;
}
input[type=range]:focus::-ms-fill-upper {
    background: #cecfd0;
}

