html, body {
    margin: 0;
    padding: 0;
    max-width:100%;
    max-height:100%;
    overflow: hidden;
    position: fixed;
}
canvas {
    display: block;
}

/*
 Slider format:
 http://danielstern.ca/range.css/#/
 */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 11.05px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.9px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #c9c6c6;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1.8px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 21px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.25px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #d5d3d3;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.9px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #c9c6c6;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1.8px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 21px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 2.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #bdb9b9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #c9c6c6;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1.8px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 21px;
    background: #ffffff;
    cursor: pointer;
    height: 2.9px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #c9c6c6;
}
input[type=range]:focus::-ms-fill-upper {
    background: #d5d3d3;
}

/*Button to reset*/

*{padding:0;margin:0;}

body{
    font-family:Verdana, Geneva, sans-serif;
    font-size:37px;
    background-color:#CCC;
}

.float{
    cursor: pointer;
    position:fixed;
    width:60px;
    height:60px;
    bottom:120px;
    right:40px;
    background-color:#3399ff;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-floatBack{
    cursor: pointer;
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#3399ff;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.float:hover{
    background-color:#5cbf2a;
}

.my-floatBack:hover{
    background-color:#5cbf2a;
}

.my-float{
    margin-top:12px;
}


