@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans");

/* Set my favourite font */
body {
    margin: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
    overflow: hidden;
    /* Disable default body scrolling */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.container {
    display: flex;
    min-width: 250px;
    /* Set a minimum width for the container */
    height: 100vh;
    /* Set container height to full viewport height */
    position: relative;
}

.sidebar {
    width: 250px;
    min-width: 250px;
    /* Set a minimum width for the sidebar */
    height: 100%;
    background-color: #111;
    padding-top: 20px;
    overflow-y: auto;
    /* Add this line to make the sidebar scrollable */
    flex-shrink: 0;
    /* Prevent the sidebar from shrinking */
    display: block;
    /* Initially, display the sidebar */
    position: relative;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    padding-top: 50px;
    /* Adjust top padding to make space for the close button */
}

.sidebar li {
    padding: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Add transition for a smooth hover effect */
}

.sidebar li:hover {
    background-color: #333;
    /* Change the background color on hover */
}

.content {
    flex-grow: 1;
    padding: 5em;
    background-color: #fcfcfc;
    overflow-y: auto;
    /* Add this line to make the content scrollable */
    position: relative;
}

.toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    /* Initially, hide the toggle button */
}


.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    /* Align the footer to the right side */
    width: 100%;
    /* Set the width of the footer */
    height: 60px;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 18px;
}

.footer p {
    margin: 0;
}


.theorem {
    /* top left bottom right */
    padding: 8px 16px 8px 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    content: "";
    display: table;
    clear: both;
    color: #000 !important;
    background-color: #f1f1f1 !important;
    border-left: 5px solid #ccc !important;
    display: block;
    overflow-x: auto;
}


@media (max-width: 995px) {
    .container {
        flex-direction: column;
        /* Change to a column layout when width is less than 995px */
    }

    .content {
        margin-left: 0;
        /* Adjust content margin when the sidebar is hidden */
        flex-grow: 1;
        /* Allow the content to take up available space */
    }

    .sidebar {
        display: none;
        /* Hide the sidebar when the width is less than 995px */
        position: fixed;
        /* Fixed position when sidebar is open */
        z-index: 1;
        /* Ensure sidebar is on top when open */
        height: 100%;
    }

    .sidebar.show {
        display: block;
        /* Show the sidebar when it's toggled */
    }

    .toggle-btn {
        display: block;
        /* Display the toggle button when the width is less than 995px */
    }

    .toggle-btn.hide {
        display: none;
        /* Hide the toggle button when the sidebar is shown */
    }
}