a {
    color: rgb(200, 200, 200);
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  
  
  .hud {
    position: fixed;
    top: 5px;
    left: 10px;
    background-color: rgba(10, 10, 10, 0.9);
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 10px !important;
  
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #000;

    
  }