@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

/*
*{
    cursor: none;
}
*/


body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 8px;
    width: 100%;
    color: rgb(184, 184, 184);
    
}

.footer a {
    color: rgb(0, 179, 255);
}


.footer a:hover {
    color: rgb(0, 255, 234);
}


