html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.displayCell{
  display: block;
  position: absolute;
  top: -24px;
  left: 0px;
}
