body {
    font-family: sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    /* Optional: fills the full viewport height */
}


.left {
    width: 35%;
    background-color: #d7d7d7;
    /* Optional: just for visual testing */
    padding: 50px;
}

.right {
    width: 65%;
    background-color: #ffffff;
    /* Optional: just for visual testing */
    padding: 10px;
    /* Optional: space inside each column */
    box-sizing: border-box;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.active {
    border: 2px solid red;
}

.click {
    background-color: #f0f0f0;
}

.hover {
    background-color: #d0eaff;
}

table,
td {
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.node circle {
    fill: steelblue;
    stroke: #333;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

circle.A {
    fill: red;
}

circle.B {
    fill: green;
}

circle.C {
    fill: orange;
}

circle.D {
    fill: purple;
}