@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

/* Fixed bar styles */
.fixed-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 85ch;
    height: 50px;
    background-color: hsla(210, 20%, 98%, 0.9);
    /* White with 30% transparency */
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    /* Ensuring the bar is above other content */
}

.link-container {
    display: flex;
    align-items: center;
  }

.link {
    text-decoration: none;
    color: black !important;
    margin: 0 10px;
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.link:hover {
    background-color: rgba(222, 222, 222, 0.8);
    font-weight: bold;
}

.arrow {
    margin-right: 5px;
}

.content-original {
    display: none;
}

.content-hover {
    display: inline;
}

.link:hover .content-original {
    display: inline;
}

.link:hover .content-hover {
    display: none;
}

.extra-text {
    position:relative;
    left: 0;
    margin-left: 5px;
}

.extra-text-container {
    display: flex;
    align-items: center;
}

#dark-mode-toggle {
    cursor: pointer;
    padding: 5px;
}

#dark-mode-toggle:hover {
    background-color: rgba(222, 222, 222, 0.8);
}

/* Media query for smaller screens - Top bar */
@media only screen and (max-width: 600px) {
    .fixed-bar {
        width: 100%;
    }
    .link {
        font-size: 0.9em;
    }
    #dark-mode-toggle{
        font-size: 0.9em;
    }
}

footer {
    text-align: center;
    padding: 20px;
}

.myFrame {
    overflow-x: auto;
    text-align: center;
}

.responsive {
    display: block;
    overflow-x: auto;
}

@media (min-width:993px) {
    .hide-large {
        display: none !important
    }
}

@media (max-width:600px) {
    .hide-small {
        display: none !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none !important
    }
}

/* next page link in footer */
.nextPage {
	text-align: center;
    text-decoration: none !important;
    color: black !important;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(200, 200, 200);
	padding: 1em;
	margin: 1.6em 0 1.3em 0;
	text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2em;
}

.nextPage:hover {
	background-color: rgb(230, 230, 230) !important;
    cursor: pointer;
}

