* { margin:0; padding:0; } /* to remove the top and left whitespace */

#glcanvas {
	height:100%;
	width:100%;
}

.canvas {
	border: 2px solid black;
	background-color: black;
	margin-right:255px;
	height:100vh;
}
.sidebar {
	width:250px;
	position:fixed;
	top: 0;
	right: 0;
}
body {
	overflow: hidden;
}

.slider {
        width:100%;
        margin-bottom:8px;
}
video {
        display: none;
}

button {
        padding:5px;
        margin:5px;
}

.checkbox {
        margin-bottom:8px;
}

select {
        margin-bottom:8px;
}

#status {
	position:fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	font-size: 25px;
	color: white;
}

#axesLabelContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  color: white;
}

.floating-div {
  position: absolute;
}

input[type=range] {
	width: 100%;
	margin: 10.3px 0;
	background-color: transparent;
	-webkit-appearance: none;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	background: #848592;
	border: 0.2px solid #010101;
	border-radius: 1.3px;
	width: 100%;
	height: 5.4px;
	cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
	margin-top: -10.5px;
	width: 26px;
	height: 26px;
	background: #969696;
	border: 1.9px solid rgba(0, 0, 0, 0.6);
	border-radius: 14px;
	cursor: pointer;
	-webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #9495a0;
  }
  input[type=range]::-moz-range-track {
	background: #848592;
	border: 0.2px solid #010101;
	border-radius: 1.3px;
	width: 100%;
	height: 5.4px;
	cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
	width: 26px;
	height: 26px;
	background: #969696;
	border: 1.9px solid rgba(0, 0, 0, 0.6);
	border-radius: 14px;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 13.6px 0;
	color: transparent;
	width: 100%;
	height: 5.4px;
	cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
	background: #747583;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
	background: #848592;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
	width: 26px;
	height: 26px;
	background: #969696;
	border: 1.9px solid rgba(0, 0, 0, 0.6);
	border-radius: 14px;
	cursor: pointer;
	margin-top: 0px;
	/*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #848592;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #9495a0;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
	/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
	input[type=range] {
	  margin: 0;
	  /*Edge starts the margin from the thumb, not the track as other browsers do*/
	}
  }
