* {
	margin: 0;
}

body {
	margin: 0;
	overflow: hidden;
}

#sceneCanvas {
	width: 100%
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.selectable-text {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}

a {
	color: rgb(200, 200, 200);
  }
  a:link {
	text-decoration: none;
  }
  
  a:visited {
	color:  rgb(200, 200, 200);
  }
  
  a:hover {
	color: rgb(91, 234, 234);
  }
  
  a:active {
	color: rgb(11, 127, 243);
  }
  
  
  .hud {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: rgba(10, 10, 10, 0.9);
	color: #FFFFFF;
	font-size: 1.5em;
	padding: 10px;
  
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #000;
  }
  