* {
	margin: 0;
}

body {
	margin: 0;
	overflow: hidden;
}

#sceneCanvas {
	width: 100%
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.selectable-text {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}

a {
	color: rgb(200, 200, 200);
  }
  a:link {
	text-decoration: none;
  }
  
  a:visited {
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  a:active {
	text-decoration: underline;
  }
  
  
  .hud {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: rgba(10, 10, 10, 0.9);
	color: #FFFFFF;
	font-size: 1.5em;
	padding: 10px;
  
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #000;
  }
  
  ul {
	list-style-type: none;
	/* overflow: hidden; */
	/* white-space: nowrap; */
	padding: 10px;
	color: 0xFFFFFF;
  }
  
  ul.two {
	display: inline-block;
	vertical-align: top;
	/* float:left; */
  }
  
  li[gap] {
	margin-top: 10px;
  }
  
  ul .green {
	color: rgb(100, 200, 0);
  }
  
  ul .orange {
	color: rgb(255, 128, 0);
  }