@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans");

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-regular.woff2') format('woff2'),
    url('./fonts/LM-regular.woff') format('woff'),
    url('./fonts/LM-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-italic.woff2') format('woff2'),
    url('./fonts/LM-italic.woff') format('woff'),
    url('./fonts/LM-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold.woff2') format('woff2'),
    url('./fonts/LM-bold.woff') format('woff'),
    url('./fonts/LM-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
    url('./fonts/LM-bold-italic.woff') format('woff'),
    url('./fonts/LM-bold-italic.ttf') format('truetype');
}

:root {
  --summary-background-color: #f2f2f2;
  --summary-color: black;
  --teo-def-cards: #f1f1f1;
  --body-bg-color: hsl(210, 20%, 98%);
}

/* Set my favourite font */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
}

body {
  background-color: var(--body-bg-color);
  counter-reset: theorem corollary definition example figure-counter section-1 subsection-1 subsubsection-1 section-2 subsection-2 subsubsection-2 section-3 subsection-3 subsubsection-3;
}

nav {
  background-color: var(--body-bg-color);
}

.dark-mode {
  background-color: rgb(30, 30, 30);
  color: rgb(240, 240, 240);
}

p {
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
}

.highlight {
  background-color: yellow;
}

/* Over-write color for w3-code */
.w3-code {
  border-left: 4px solid #6666cc;
}

/* Style for side bar  */
.w3-bar-block .w3-bar-item {
  padding: 6px 18px;
  font-size: 15px;
}


input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {

  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 250px) {
  .search-container {
    float: none;
  }

  input[type=text],
  .search-container button {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  input[type=text] {
    border: 1px solid #ccc;
  }
}


/* Format to Chapter on navbar */
#chapterBar {
  background-color: #6666cc;
  color: #fff;
  font-weight: bold;
}

/* Provides format to text on top bar */
#myTextBar {
  margin-top: -18px;
  margin-bottom: -18px;
}

#mySocial {
  width: 250px;
  padding: 32px;
  position: fixed;
  bottom: 0px;
}

/* It shows info if needed on hover text*/
#mytooltip {
  position: static;
  left: 0;
  bottom: 22px;
  text-align: left;
  padding: 0.9em;
  background-color: #dddddd;
  color: #000;
  font-size: medium;
  width: 100%;
  min-width: 20em;
  /* Will be AT LEAST 20em wide */
}

/* This is for expandable text box */
summary {
  background-color: var(--summary-background-color);
  color: var(--summary-color);
  cursor: pointer;
  font-size: 20px
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9998;
  /* Sit on top */
  padding-top: 70px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  /* fonts */
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  color: #262626;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #6666cc;
  color: #fffffff3;
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 6px;
  background-color: #6666cc;
  color: #fffffff3;
  text-align: center;
  font-weight: bold
}

/*  
  p {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #333333; }
  
  ul {
    color: #333333; }
  
  ol {
    color: #333333; }
  
  dl {
    font-family: Georgia, Times, "Times New Roman", serif; }
  
  dd {
    margin-left: 15px;
    line-height: 1; }

*/

/* Numbered headers. Starts at 1 */
.head-1 {
  counter-increment: section-1;
  font-weight: bold;
  font-size: 2.125rem;
}

.head-1::before {
  content: counter(section-1) ". ";
}

.head-1.head-1-level2 {
  counter-increment: subsection-1;
  font-size: 1.775rem;
}

.head-1.head-1-level2::before {
  content: counter(section-1) "." counter(subsection-1) ". ";
}

.head-1.head-1-level3 {
  counter-increment: subsubsection-1;
  font-size: 1.4rem;
}

.head-1.head-1-level3::before {
  content: counter(section-1) "." counter(subsection-1) "." counter(subsubsection-1) ". ";
}

/* Numbered headers. Starts at 2 */
.head-2 {
  counter-increment: section-2 2;
  font-weight: bold;
  font-size: 2.125rem;
}

.head-2::before {
  content: counter(section-2) ". ";
}

.head-2.head-2-level2 {
  counter-increment: subsection-2;
  font-size: 1.875rem;
}

.head-2.head-2-level2::before {
  content: counter(section-2) "." counter(subsection-2) ". ";
}

.head-2.head-2-level3 {
  counter-increment: subsubsection-2;
  font-size: 1.5rem;
}

.head-2.head-2-level3::before {
  content: counter(section-2) "." counter(subsection-2) "." counter(subsubsection-2) ". ";
}

/* Numbered headers. Starts at 3 */
.head-3 {
  counter-increment: section-3 3;
  font-weight: bold;
  font-size: 2.125rem;
}

.head-3::before {
  content: counter(section-3) ". ";
}

.head-3.head-3-level2 {
  counter-increment: subsection-3;
  font-size: 1.875rem;
}

.head-3.head-3-level2::before {
  content: counter(section-3) "." counter(subsection-3) ". ";
}

.head-3.head-3-level3 {
  counter-increment: subsubsection-3;
  font-size: 1.5rem;
}

.head-3.head-3-level3::before {
  content: counter(section-3) "." counter(subsection-3) "." counter(subsubsection-3) ". ";
}


/* Theorem */
.theorem {
  counter-increment: theorem;
  margin: 12px 0;
  font-style: italic;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  content: "";
  display: table;
  clear: both;
  padding: 8px 16px 8px 16px;
  border-left: 5px solid #16b190 !important;
  color: var(--summary-color);
  background-color: var(--teo-def-cards) !important;
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
}

.theorem::before {
  content: 'Theorem ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Corollary */
.corollary {
  counter-increment: corollary;
  display: block;
  margin: 12px 0;
  font-style: italic;
  padding: 8px 16px 8px 16px;
  border-left: 5px solid #3b87f9 !important;
  color: var(--summary-color);
  background-color: var(--teo-def-cards) !important;
  overflow-y: hidden;
  overflow-x: auto;
}

.corollary::before {
  content: 'Corollary ' counter(corollary) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Lemma */
.lemma {
  counter-increment: theorem;
  margin: 12px 0;
  font-style: italic;
  padding: 8px 16px 8px 16px;
  border-left: 5px solid #3b87f9 !important;
  color: var(--summary-color);
  background-color: var(--teo-def-cards) !important;
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
}

.lemma::before {
  content: 'Lemma ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}



/* Proof */
.proof {
  display: block;
  margin: 12px 0;
  font-style: normal;
  position: relative;
}

.proof::before {
  content: 'Proof. ' attr(title);
  font-style: italic;
}

.proof:after {
  content: '◾️';
  filter: var(--proof-symbol-filter);
  position: absolute;
  right: -12px;
  bottom: -2px;
}

/* Definition */
.definition {
  counter-increment: definition;
  margin: 12px 0;
  font-style: normal;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  content: "";
  display: table;
  clear: both;
  padding: 8px 16px 8px 16px;
  border-left: 5px solid #3b87f9 !important;
  color: var(--summary-color);
  background-color: var(--teo-def-cards) !important;
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
}

.definition::before {
  content: 'Definition ' counter(definition) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Example: I added this class */
.example {
  counter-increment: example;
  margin: 25px 0;
  font-style: normal;
  padding: 8px 16px 8px 16px;
  border-left: 5px solid #6106d7 !important;
  margin-left: 10px;
  display: block;
  overflow-y: hidden;
}

.example::before {
  content: 'Example ' counter(example) '. ';
  font-weight: bold;
  font-style: normal;
}

/* This is for add a little exercise */
.practice {
  padding: 0px 20px 8px 20px !important;
}

/* Resetting default list-style-type for figure */
figure {
  counter-increment: figure-counter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the figure caption */
figcaption {
  text-align: center;
  font-style: italic;
}

/* Numbering for the figure */
/* Styling for the figure caption */
figcaption:before {
  content: "Figure " counter(figure-counter);
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5px;
  /* Add some space between the image and the "Figure number" */

}


/* Format the LaTeX symbol correctly (a higher up, e lower) */
.latex span:nth-child(1) {
  text-transform: uppercase;
  font-size: 0.75em;
  vertical-align: 0.28em;
  margin-left: -0.48em;
  margin-right: -0.15em;
  line-height: 1ex;
}

.latex span:nth-child(2) {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  line-height: 1ex;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: rgba(145, 145, 145, 0.567);
  color: rgb(237, 237, 237);
  cursor: pointer;
  width: 50px;
  /* Adjust button width */
  height: 50px;
  /* Adjust button height */
  line-height: 40px;
  /* Adjust line-height to center text vertically */
  text-align: center;
  /* Center text horizontally */
  padding: 0;
  /* Remove padding */
  border-radius: 50%;
  /* Make it circular */
}

#toTop:hover {
  background-color: #747474;
}

.topDonate {
  position: sticky;
  left: 90%;
  font-size: 14px;
  padding: 2px 4px 5px 2px;
}

.topDark {
  cursor: pointer;
  position: sticky;
  left: 97%;
  font-size: 14px;
  padding: 2px 1px 2px 4px;
}