body {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    border-width: 0;
    cursor: pointer;
    overflow: hidden;
  }