html {
	margin: 0; 
	padding: 0;
}

body {
	margin: 0; 
	padding: 0;
  	background: black;
}

#main {
	width: 512px;
	margin: 2em auto;
  	background: black;
    font-size:80%;
}

#main h1 {
	font: 2em/1em "Times New Roman", serif; 
	letter-spacing: 0.1em; 
  	text-align: center; 
  	color: white;
}

#footer {
	padding-left: 10px;
}

#footer p {
	font-size: 0.5em; 
	text-align: left; 
	color: rgb(50%,50%,50%);
}

