#optics_panel {
	width: 512px;
	border: 2px;
	border-style: solid;
	border-color: #CCCCCC;
	background: #CCCCCC;
	margin: 5px;
}
#optics_canvas {
	width: 512px;
	margin: 5px;
	border: 2px;
	border-style: solid;
	border-color: #CCCCCC;
	line-height: 0;
}
#optics_select {
	float: left;
	width: 155px;
 	margin: 2px 0px 3px 5px;
}
#optics_slider {
 	width: 270px;
 	margin: 0px 0px 0px 185px;
 	padding: 10px;
}
#optics_slider .ui-slider-range { background: #CCCCEE; }

#optics_slider_red {
 	width: 270px;
 	margin: 0px 0px 0px 185px;
 	padding: 10px;
}
#optics_slider_red .ui-slider-range { background: #EECCCC; }

#optics_slider_green {
 	width: 270px;
 	margin: 0px 0px 0px 185px;
 	padding: 10px;
}
#optics_slider_green .ui-slider-range { background: #CCEECC; }


#optics_sliderline {
	height: 35px;
	background: #EEEEEE;
	margin: 5px;
}
#optics_sliderinput {
	float: left;
	width: 40px;
	margin: 7px 5px 5px 5px;
}
#optics_sliderlabel {
	float: left;
	text-align: right;
	width: 120px;
 	margin: 10px 5px 10px 5px;
}
#optics_valueinput {
	float: left;
	width: 40px;
	margin: 7px 5px 5px 5px;
}
#optics_valuelabel {
	float: left;
	text-align: right;
	width: 95px;
 	margin: 10px 5px 10px 5px;
}
#optics_button {
	float: left;
    position: relative;
    left: 32%;
	margin: 4px 0px 2px 20px;
}

.ui-widget {
    font-size:85%;
}

