/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }



/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }



/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Dom McGrath
   ========================================================================== */
div.main {padding:10px; border:1px solid #ddd;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;}
/*div#tim {border-top: 1px dashed #46949F;}*/
div#course {clear:both;}
div#course-nav{text-align:center;}
div.main h2 {border-top: 1px dashed #46949F; padding-top: 5px;clear:both;text-decoration:none;}
div.main h1 {line-height:90%;}
/*div.main div#overview, #overview {clear:both;}*/
div.main div#lecture-wrap {border:none;}
div.main div.lecture {border:none; width:90px; margin: 5px; display:inline-block; vertical-align:top; height: 150px;}
a { text-decoration:none; color:#565555;}
a:hover {color:#232222;}
h2 {color:#4A575F; line-height:90%}
h3 {color:#4A575F; line-height:90%}
body {background: url("img/background_smp.jpg") repeat-x scroll center 100px transparent;
}
  #mobfooter {display: none;}
img.title-image{float:right;}
figure.side-fig, figure.side-fig-right {float:right; padding-left: 10px; width:25%;}
figure.side-fig-left {float:left; padding-left: 10px; width:25%;}
figure.side-fig-big {float:right; padding-left: 10px; width:50%;}
.ethics {position: fixed; top: 15px; width:80%; border:solid 1px #666666; background-color: #EEFFFF;padding: 10px;-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px; z-index:1000; max-width:960px; left:10%; max-height: 90%; overflow:auto;}
.ethics button {width: 8em; padding: 4px;}

div#lecture-content{
    border-top: 1px dashed #46949F;
    min-height:500px;
}
/*lecture 2*/
#L02video {
    width:100%;
    text-align:center;
    margin:0 auto;
}
#L02video video {
    max-width: 400px;
    width:100%;
}

#showForceAnimation {
    width: 600px;
}
#showForceAnimation canvas {
    max-width: 600px;
}

/*==UQ FOOTER STYLES 
   ========================================================================== */
/* Footer
-----------------------------------------------------------------------------*/	
#footer{background:#660A77 url('http://uq.edu.au/templates/web/images/bg-footer.gif') repeat-x scroll 100% 0pt;border-top:solid 2px #78b800}
#footer{clear:both;height:240px;margin-top:10px}
#footer .wrapper{margin-top:40px}
#footer li a, #navResources p a, .campus a, .directions a,#footer li a:visited, #navResources p a:visited, .campus a:visited, .directions a:visited{border-bottom:1px solid rgb(108, 93, 94);color:rgb(241, 241, 241);cursor:pointer}
#footer li a:hover, #navResources p a:hover, .campus a:hover, .directions a:hover{border-bottom:1px solid rgb(73, 59, 60);color:rgb(221, 212, 213)}
#siteinfo{padding:0 0 0 5px;width:200px;float:left;color:rgb(255, 255, 255)}
#siteinfo{font-size:11px;font-family:Arial, sans-serif;font-style:normal;font-variant:normal;font-weight:400}
#siteinfo .org{font-weight:700}
#siteinfo address{font-style:normal}
#siteinfo .org{margin:0 0 10px 0;height:38px;width:200px}
#siteinfo .org a{overflow:hidden;background-image:url('http://uq.edu.au/templates/web/images/uq-logo.gif') ! important;background-repeat:no-repeat ! important;background-color:transparent ! important;display:block;height:38px;text-indent:-1000px}
#siteinfo .adr{margin:0 0 5px 0;line-height:1.4}
#siteinfo .tel{margin:0 0 5px 0}
#siteinfo .campus{margin:0 0 5px 0}
#siteinfo .directions{margin:0 0 5px 0}
#copyright{margin:0;font-size:11px;width:200px}
#footer-resources{margin:0 0 0 20px;width:400px;float:left;border-left:1px dotted rgb(217, 184, 250);border-right:1px dotted rgb(217, 184, 250)}
#footer-resources h2{margin:0 0 6px}
#footer-resources h2{display:none}
#footer-resources h3{margin:0 0 6px;font-family:'Helvetica Neue', Arial, verdana, sans-serif;font-size:12px;color:rgb(234, 184, 250);text-transform:uppercase}
#footer-resources li{font-size:11px;font-family:verdana, Arial, sans-serif}
#footer-resources ul{margin:0;list-style-type:none}
#footer-resources li{margin:0 0 6px;padding:0 0 0 12px;background:transparent url('http://uq.edu.au/templates/web/images/arrow.png') no-repeat scroll 0 2px}
#footer-resources a{padding:0 1px}
#footer-resources p{color:rgb(255, 255, 255);font-family:'Helvetica Neue', Arial, verdana, sans-serif;font-size:11px;margin:0px}
#navResources, #navSocial{float:left}
#navResources{padding:0 20px 0 20px;width:50%}
#navSocial{padding:0 0 10px 0;width:40%}
#navQuick{float:left;padding:0 0 10px 0;width:40%}
.member-logo{margin:0 20px 10px 0;padding:0 0 2px 0}
.member-logo a:hover{background:none;text-decoration:none}
#footer-right{padding:0 0 10px 15px;margin:0;float:left;width:310px;height:146px;background:transparent url('http://uq.edu.au/templates/web/images/footer-device.png') no-repeat scroll 10px -1px ! important}
#footer-right h3{margin:0 0 6px;font-family:'Helvetica Neue', Arial, verdana, sans-serif;font-size:12px;color:rgb(234, 184, 250);text-transform:uppercase}
#footer-right p{margin:5px 0 12px 0;font-family:verdana, arial, sans-serif;font-size:11px;color:rgb(255, 255, 255)}
#footer-right li{font-size:11px;font-family:verdana, Arial, sans-serif}
#footer-right ul{margin:0;list-style-type:none}
#footer-right li{margin:0 0 6px;padding:0 0 4px 12px;background:transparent url('http://uq.edu.au/templates/web/images/arrow.png') no-repeat scroll 0 2px}
p.centenary{padding:16px 0 0 0}
#navExplore, #navLogos{float:left}
#navExplore{padding:0 20px 0 5px;width:180px}
#navLogos{padding:0 0 10px 0}


/*==UQ HEADER STYLES 
   ========================================================================== */
.wrapper{position:relative;top:0pt;margin:0 auto;width:960px}
p#top{margin:0}
#header{margin:0;padding:0;background:#602290 url('http://uq.edu.au/templates/web/images/bodybg.gif') repeat-x scroll 0 0;color:rgb(239, 239, 239);font-size:80%;font-family:"Trebuchet MS", Helvetica, sans-serif;height:100px}
#header-inner, #topnav-inner{margin:0 auto;padding:0;width:1000px;position:relative}
#header-inner h1{margin:26px 0 0 25px;text-indent:-9999px;position:absolute}
#header-inner h1 a{background:transparent url('http://uq.edu.au/templates/web/images/masthead-logo.gif') no-repeat scroll 0 0;display:block;height:50px;text-decoration:none;width:182px}
#header-inner h2{margin:26px 0 0 205px;text-indent:-9999px;position:absolute}
#header-inner h2 a{background:transparent url('img/masthead-logo-5mp.gif') no-repeat scroll 0 0;display:block;height:50px;text-decoration:none;width:209px}
.csw{width:100%;height:200px;background:#fff;overflow:scroll}
.csw .loading{margin:200px 0 300px 0;text-align:center}
#mininav{margin:0;padding:10px 20px 8px 0;color:rgb(255, 255, 255);font-size:9px;font-family:Helvetica, "Trebuchet MS", sans-serif;font-weight:lighter;float:right}
#mininav ul{margin:0;padding:5px 0 0 15px;list-style-type:none;list-style-image:none;list-style-position:outside;letter-spacing:1px}
#mininav ul li{margin:0 1em 0 0;padding:0;float:left;display:inline}
#mininav a{text-transform:uppercase;font-weight:700}
#mininav a:link,#mininav a:visited{color:rgb(223, 223, 223);text-decoration:none}
#mininav a:hover,#mininav a:active{color:rgb(255, 255, 255);text-decoration:none}
div#search{background:transparent url('http://uq.edu.au/templates/web/images/form-left.png') no-repeat scroll 0pt 0pt;position:absolute;top:40px;right:15px;/*margin:0 0 0 775px*/}
div#search form{margin:0;padding:0;width:210px}
div#search form legend{display:none}
div#search label{display:block;float:left;width:30px;height:18px}
div#search label span{display:none}
div#search input{border:0 none;margin:0;padding:3px 0 1px 0;background:transparent none repeat scroll 0 0;float:left;width:142px;height:18px;font-size:11px;color:#000;font-family:verdana, arial}
div#search input.submit{margin:0 0 0 3px;padding:0;background:transparent url('http://uq.edu.au/templates/web/images/form-right.png') no-repeat scroll 0 0;float:left;cursor:pointer;width:20px;height:22px;text-indent:-999px}


/* UQ Content 
-----------------------------------------------------------------------------*/	
#content{-moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;border-top-left-radius:8px;border-top-right-radius:8px;background:#fff;float:left;display:inline-block;width:960px;margin:16px 0 10px 0;padding:0px;position:relative}
#content #page-head{width:960px;border-bottom:1px solid rgb(238, 238, 238);margin:0}
#content #page-head h1{margin:0;padding:22px 20px 29px 19px;font-size:2em;color:#000}

/*	UQ Hidden Content
-----------------------------------------------------------------------------*/				  	  
.skip{display:none}
#search label{display:none;visibility:hidden}








/*
 * Media queries for responsive design github.com/h5bp/mobile-boilerplate/wiki/The-Style
 */



  

/* Styles for desktop and large screen ----------- */

/*styles for 800px and up!*/
@media only screen and (min-width: 486px) and (max-width: 960px){
   body {background: none;}
div.main {padding-top: none; border: none;}
#header-inner, #topnav-inner{margin:0 auto;padding:0;width:100%;position:relative}
  .wrapper, #content, #content #page-head {width:100%;}
  #footer-right, #navQuick, #navSocial {display:none;}
  #footer-resources {border-right:none;}

    
}

@media only screen and (max-width: 635px) {
    #search {display:none;}
}

/*/mediaquery*/
/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (max-width: 485px){
  /* Styles */
  body {background: none;}
  #search, #mininav, #footer {display:none;}
  .wrapper, #content, #content #page-head {width:100%;}
  #mobfooter {display: block;clear:both;background:#660A77; border-top:solid 2px #78b800;  font-size:11px;font-family:Arial, sans-serif;font-style:normal;font-variant:normal;font-weight:400;color:#ffffff;line-height:0.8; padding: 10px;text-align:center;}
  div.main {border: none;}
  #mobfooter .org a{overflow:hidden; background-image:url('http://uq.edu.au/templates/web/images/uq-logo.gif') ! important;background-repeat:no-repeat ! important;background-color:transparent ! important;display:block;height:42px;text-indent:-1000px}

/*  figure.side-fig {float:none; padding-left: 10%; width:80%;} */
  figure.side-fig, figure.side-fig-right {float:right; padding-left: 10px; width:50%;}
  figure.side-fig-left {float:left; padding-left: 10px; width:50%;}
  div#course-nav img{width:50px;height:50px;}
  div#course-nav a{font-size:0px;}
  div#course-nav div.lecture{width:auto;height:auto;}
}




/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
 body {background: none;}
  #header, #footer {display:none;}
  .wrapper, #content, #content #page-head {width:100%;}
  #mobfooter {display: block;clear:both;background:#660A77; border-top:solid 2px #78b800;  font-size:11px;font-family:Arial, sans-serif;font-style:normal;font-variant:normal;font-weight:400;color:#ffffff;line-height:0.8; padding: 10px;}
  div.main {border: none;}
  #mobfooter .org a{overflow:hidden; background-image:url('http://uq.edu.au/templates/web/images/uq-logo.gif') ! important;background-repeat:no-repeat ! important;background-color:transparent ! important;display:block;height:42px;text-indent:-1000px}
}




/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
