html,
body {
  margin: 0;
  padding: 0;
  
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

p {
  padding: 50px;
  
}
