html,
body {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow: hidden
}

canvas {
    display: block;
}

div.sticky {
    position: fixed;
    left: 15px;
    width: 50%;
    bottom: 25px;
    font-size: 19px;
    font-family: Georgia;
  } 

/* unvisited link */
a:link {
    color: #e6f0f5;
  }
  
  /* visited link */
  a:visited {
    color: #d98cd9;
  }
  
  /* mouse over link */
  a:hover {
    color: #8de0f2;
  }
  
  /* selected link */
  a:active {
    color: #00cc99;
  }