html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.container {
    position: relative;
}

.topright {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    color: white;
}



div.sticky {
    position: fixed;
    left: 15px;
    width: 50%;
    bottom: 25px;
    font-size: 19px;
  } 

/* unvisited link */
a:link {
    color: #4d79ff;
  }
  
  /* visited link */
  a:visited {
    color: #d98cd9;
  }
  
  /* mouse over link */
  a:hover {
    color: #33a0ff;
  }
  
  /* selected link */
  a:active {
    color: #00cc99;
  }