
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectable-text {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}


* {
  margin: 0px;
  padding: 0px;
}



html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  font-family: FontAwesome, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: small;
  color: rgb(200, 200, 200);
  overflow: hidden;
}

a {
  color: rgb(200, 200, 200);
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


.hud {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  font-size: 13pt;
  padding: 10px;

  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #000;
}

ul {
  list-style-type: none;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  padding: 10px;
  color: 0xFFFFFF;
}

ul.two {
  display: inline-block;
  vertical-align: top;
  /* float:left; */
}

li[gap] {
  margin-top: 10px;
}

ul .green {
  color: rgb(100, 200, 0);
}

ul .orange {
  color: rgb(255, 128, 0);
}

  /* From https://danielstern.ca/range.css/ */
  input[type=range] {
    width: 100%;
    margin: 12.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #6b6a82;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 5.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -12.5px;
    width: 30px;
    height: 30px;
    background: #737372;
    border: 2.2px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #77768f;
  }
  input[type=range]::-moz-range-track {
    background: #6b6a82;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 5.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #737372;
    border: 2.2px solid #000000;
    border-radius: 30px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12.3px 0;
    color: transparent;
    width: 100%;
    height: 5.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #5f5f74;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #6b6a82;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 30px;
    height: 30px;
    background: #737372;
    border: 2.2px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #6b6a82;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #77768f;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  