html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.Center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link {
  color: #3399ff;
}

/* visited link */
a:visited {
  color: #1a8cff;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: red;
}